.Portfolio {
  text-align: justify;
  font-size: calc(1vw + 2vmin);
  color: #000000;
  background-color: #ffffff;
  padding: 10vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
