.About {
  font-size: calc(1vw + 2vmin);
  color: #000000;
  background-color: #ffffff;
  padding: 10vh;
  min-height: 100vh;
}

.flex {
  width: 50%;
}

.about-me-header {
  font-size: calc(2vw + 2vmin);
  margin-bottom: 0;
}

.company-header {
  font-size: calc(0.5vw + 2vmin);
  margin-bottom: 0;
}

.company-info {
  font-size: calc(0.5vw + 2vmin);
  line-height: 1.5em;
  margin-top: 0;
}

.about-me {
  font-size: calc(0.5vw + 2vmin);
  line-height: 1.5em;
  text-align: justify;
}

.about-me-section {
  all: unset;
  margin: 1vw;
  display: flex;
  align-items: flex-start;
}

.interests-section {
  all: unset;
  margin: 1vw;
  display: flex;
  align-items: flex-start;
}

.likes-certifications-list {
  font-size: calc(0.5vw + 2vmin);
  line-height: 2em;
}

.experience-list {
  font-size: calc(0.5vw + 2vmin);
  line-height: 2em;
}

.logo {
  height: 4vh;
  width: 4vw;
}

.wip {
  margin-left: 1vw;
  font-size: calc(0.5vw + 2vmin);
  color: blue;
}
