* {
  box-sizing: border-box;
}

.container {
  border: 0.5vw solid #f1f1f1;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

.row {
  margin: -0.1vw;
  padding: 1vw 1vw 2vw 1vw;
  background: #f1f1f1;
}

.column {
  float: left;
}

.left {
  width: 15%;
}

.middle {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.dots {
  margin-left: 0.2vw;
  height: 1vw;
  width: 1vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

input[type="text"] {
  width: 100%;
  border-radius: 0.1vw;
  border: none;
  background-color: white;
  margin-top: -1vw;
  height: 4vh;
  color: #666;
  padding: 1vw;
}

.content {
  width: 80vw;
  height: 80vh;
}
