.Footer {
  width: 100%;
  min-height: 20vh;
  background-color: #ffffff;
  color: #000000;
  font-size: calc(2vw + 2vmin);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(2vw + 2vmin);
}

.arrowDown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(0.5turn);
  background-color: #000000;
  cursor: pointer;
}

.toTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #000000;
  font-size: calc(1vw + 2vmin);
  font-weight: lighter;
  cursor: pointer;
  padding: 2vh;
}

.footerItem {
  font-size: calc(2vw + 2vmin);
  font-weight: lighter;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.footerItem:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #290092;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footerItem:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
