.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 20vh;
  background-color: #ffffff;
  color: #000000;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}

.email {
  font-size: xx-large;
  font-weight: lighter;
  margin-left: calc(8px + 2vmin);
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.email:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.email:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
