.App {
  background-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Portfolio-header {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(80px + 2vmin);
  color: #ffffff;
  /* background-image: url("../public/arrow.svg"); */
}

.About-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(80px + 2vmin);
  color: #ffffff;
  /* background-image: url("../public/arrow.svg"); */
}

.Projects-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(80px + 2vmin);
  color: #ffffff;
  /* background-image: url("../public/arrow.svg"); */
}

.headerBackground {
  background-color: #000000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
