.App {
  background-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dotColor {
  color: #4800ff;
}

section {
  all: unset;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

.portfolio-header {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8vw + 2vmin);
  color: #ffffff;
}

.about-header {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8vw + 2vmin);
  color: #ffffff;
  background-color: #000000;
}

.projects-header {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8vw + 2vmin);
  color: #ffffff;
  background-color: #000000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
